body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.logoContainer{
	position: relative;
	margin: 0 auto;
}

.logoContainer svg{
	height: 100vh;
}

#logoSvg{
	fill-opacity: 0;
	transition: fill-opacity 1s ease-in;
}

#logoSvg:hover{
	fill-opacity: 1;
}

.title{
	position: absolute;
	transform: rotate(-60deg);
	top: 15%;
	right: 50%;
	font-size: 200px;
	animation-delay: 2s;
}
